{% extends 'base.html' %}

<!-- block for title -->

{% block page_title %} Password Reset Page {% endblock %}

<!-- block for heading -->

{% block page_heading %} Reset Password {% endblock %}

<!-- main content block -->

{% block content %}

<form method="POST">
    <p>Please enter your email address</p>
    
    {% csrf_token %}
    
    {{ form.email.errors }}
    
    <p>
        <label for="id_email">Email address: </label>
        {{ form.email }}
    </p>
    
    <button type="submit">Reset Password</button>
</form>

{% endblock %}
